:root {
  --flow-space--default: var(--space-m);
}

.flow>*+*,
.flow>*+:where(astro-island, astro-slot)>*,
figure>*+* {
  margin-block-start: var(--flow-space, var(--flow-space--default));
}

.flow-default {
  --flow-space: --flow-space--default;
}

.flow>*+table {
  margin-block-start: var(--space-m);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.4em;
}

:is(h2, h3, h4)+* {
  --flow-space: 0.5em;
}

h1+* {
  margin-block-start: var(--space-m-l);
}
