.grid {
  display: grid;
  gap: var(--space-s);
  align-items: end;
}

[class*='grid-cols-'] {
  grid-template-columns: repeat(var(--column-count), 1fr);
}

.grid-cols-2 {
  --column-count: 2;
}

.grid-cols-3 {
  --column-count: 3;
}
