.tile {
  --top-offset: 50%;
  --background-color: #fdf5eb;

  .dark & {
    --background-color: #221b31;
  }

  position: relative;
  display: flex;
  flex-direction: column;
  margin-block: var(--space-2xl);

  @media (min-width: 500px) {
    flex-direction: row;
  }

  opacity: .9;
  transition: opacity var(--transition-duration);


  &:hover,
  &:focus-within {
    opacity: 1;
  }

  >* {
    z-index: 1;
  }

  > :first-child {
    padding: var(--space-m-l);
    background-color: var(--background-color);

    @media (min-width: 500px) {
      border: var(--border-width-thick) solid var(--color-border);
    }
  }
}
