---
const { pageTitle } = Astro.props;
import BaseLayout from "@layouts/base.astro";

const { class: className } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} backTo="photography">
  <div class:list={["grid gap-y-8", className ]}>
    <slot />
  </div>
</BaseLayout>
