---
import Layout from "./_layout.astro";
import AndyMiller from "./_andy-miller.astro";
import EricGoldberg from "./_eric-goldberg.astro";
---

<Layout pageTitle="Photography / Artists">
  <header>
    <h1>Artists</h1>
  </header>

  <section
    class="border-b-4 border-tumbleweed dark:border-purple pb-12 grid gap-y-8"
  >
    <AndyMiller />
  </section>
  <EricGoldberg />
</Layout>
