@import './reset.css';
@import './utilities.css';
@import './code-blocks.css';
@import './masonry.css';
@import './blocks/grid.css';
@import './blocks/wrapper.css';

:root {
  /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,2000,28,1.333,3,2,1268&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --size-step--2: clamp(0.7813rem, 0.7366rem + 0.1987vw, 0.9849rem);
  --size-step--1: clamp(0.9375rem, 0.8551rem + 0.3662vw, 1.3128rem);
  --size-step-0: clamp(1.125rem, 0.9878rem + 0.6098vw, 1.75rem);
  --size-step-1: clamp(1.35rem, 1.1343rem + 0.9588vw, 2.3328rem);
  --size-step-2: clamp(1.62rem, 1.293rem + 1.4532vw, 3.1096rem);
  --size-step-3: clamp(1.944rem, 1.4608rem + 2.1474vw, 4.145rem);

  --content-max-width: 1800px;
  --measure: 66ch;

  --color-purple-dark: #1b191f;
  --color-purple: #5d178f;
  --color-purple-pale: #ead3ff;
  --color-purple-light: #d2d0e2;

  --color-tumbleweed-50: #fbf7f1;
  --color-tumbleweed-100: #f6ecde;
  --color-tumbleweed-200: #ecd6bc;
  --color-tumbleweed-300: #e0b991;
  --color-tumbleweed-400: #d9a479;
  --color-tumbleweed: #d9a479;
  --color-tumbleweed-500: #ca7c45;
  --color-tumbleweed-600: #bc673a;
  --color-tumbleweed-700: #9c5132;
  --color-tumbleweed-800: #7e422e;
  --color-tumbleweed-900: #663828;
  --color-tumbleweed-950: #361b14;

  --color-cyan-50: #effbfc;
  --color-cyan-100: #d7f4f6;
  --color-cyan-200: #b3e9ee;
  --color-cyan-300: #7fd7e1;
  --color-cyan-400: #43bdcd;
  --color-cyan-500: #2baec2;
  --color-cyan: #2baec2;
  --color-cyan-600: #248296;
  --color-cyan-700: #23697b;
  --color-cyan-800: #255765;
  --color-cyan-900: #234956;
  --color-cyan-950: #12303a;

  --color-greenlake-50: hsl(171, 41%, 97%);
  --color-greenlake-100: hsl(167, 49%, 89%);
  --color-greenlake-200: hsl(168, 48%, 78%);
  --color-greenlake-300: hsl(170, 44%, 64%);
  --color-greenlake-400: hsl(172, 38%, 50%);
  --color-greenlake-500: hsl(173, 46%, 39%);
  --color-greenlake: hsl(173, 46%, 39%);
  --color-greenlake-600: hsl(174, 48%, 32%);
  --color-greenlake-700: hsl(174, 44%, 26%);
  --color-greenlake-800: hsl(175, 41%, 22%);
  --color-greenlake-900: hsl(176, 34%, 19%);
  --color-greenlake-950: hsl(178, 49%, 10%);

  --color-grey: #937c8b;
}

/* @link https://utopia.fyi/space/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|l-2xl|m-xl&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem);
  --space-l-2xl: clamp(2.25rem, 1.125rem + 5vw, 5rem);
  --space-m-xl: clamp(1.6875rem, 0.8438rem + 3.75vw, 3.75rem);
}

body {
  font-family: 'FF Tundra', Georgia, serif;
  font-size: var(--size-step-0);
  line-height: 1.5;
  color: var(--color-purple-dark);
  background-color: var(--color-tumbleweed-100);
}

.dark body {
  color: var(--color-purple-light);
  background-color: var(--color-purple-dark);
}

.page-content {
  padding: var(--space-m-xl);
}

h1,
h2,
h3,
h4,
h5,
h6,
caption,
figcaption {
  text-wrap: balance;
}


h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: var(--size-step-2);
  letter-spacing: -0.035em;
}

h2 {
  font-size: var(--size-step-1);
  color: var(--color-greenlake-800);

  .dark & {
    color: var(--color-purple-pale);
  }

  /* @apply leading-tight; */
}

a {
  font-style: italic;
  color: var(--color-greenlake);
  text-decoration: none;

  .dark & {
    color: var(--color-tumbleweed);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--color-tumbleweed-600);
  }

  .dark &:hover,
  .dark &:focus,
  .dark &:active {
    color: var(--color-cyan);
  }
}

summary {
  color: var(--color-greenlake-800);

  .dark & {
    color: var(--color-purple-pale);
  }
}

summary::marker {
  color: var(--color-greenlake);

  .dark & {
    color: var(--color-tumbleweed);
  }
}

.small-caps {
  font-variant-caps: small-caps;
}

.flow>*+* {
  margin-block-start: var(--flow-space, var(--space-s));
}


:is(h1, h2, h3, blockquote) {
  --flow-space: 1.4em;
}

:is(h1, h2, h3)+* {
  --flow-space: 0.5em;
}

.small {
  font-size: var(--size-step--1);
}

.lead {
  font-size: var(--size-step-1);
}
