main {
  --column-gap: var(--space-xl);

  display: flex;
  column-gap: var(--column-gap);
  align-items: baseline;
  flex-wrap: wrap;
  max-inline-size: var(--content-max-width);
  margin-inline: auto;
}

.intro {
  flex: 0 1 clamp(400px, 60%, 1024px);
}

nav {
  flex: 1 1 clamp(10em, 30%, 800px);
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-l-2xl);
  row-gap: var(--space-s-l);
}

.nav-links {
  --flow-space: var(--space-3xs);
}

h1 {
  letter-spacing: -0.01em;
}

.page-content {
  padding: var(--space-m-xl);
}
