nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--space-l-2xl);
  row-gap: var(--space-s-l);
}

.nav-links {
  --flow-space: var(--space-3xs);
}

h1 {
  letter-spacing: -0.01em;
}

.page-content {
  padding: var(--space-m-xl);
}
