---
interface Props {
  title: string;
  date: string;
  class?: string;
}

const { title, date } = Astro.props;
const { class: className } = Astro.props;
---

<section
  class:list={[
    "mb-16 xl:mb-24 pb-4",
    "border-b-4",
    "border-tumbleweed-200 dark:border-cyan-600",
    "shadow-sm",
    className,
  ]}
>
  <div class="mb-4 grid xl:grid-cols-5 gap-4">
    <div class="xl:col-span-2">
      <header class="mb-4">
        <h2 class="mb-0">{title}</h2>
        <time>{date}</time>
      </header>
      <slot name="description" />
    </div>

    <div class="xl:col-span-3">
      <slot name="banner" />
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mb-4">
    <slot name="images" />
  </div>

</section>
