---
interface Item {
  href: string;
  caption: string;
}

interface Props {
  title: string;
  items: Item[];
}

const { items, title } = Astro.props;
---

<div
  class:list={[
    "sm:inline-block",
    "mt-4 mb-10 pl-8 px-14 py-8",
    "shadow-md",
    "border-4 rounded",
    "border-tumbleweed-800 dark:border-cyan-600",
  ]}
>
  <h2 class="mb-4">{title}</h2>
  <ol class="list-decimal list-inside grid gap-y-1">
    {
      items.map(({ caption, href }) => (
        <li>
          <a href={href}>{caption}</a>
        </li>
      ))
    }
  </ol>
</div>
